html {
  scroll-behavior: smooth;
}

body{
    margin: 0;
}


.navigation{
    background-color: aquamarine;
    padding: 10px;
    height: 5vh;
    width: 100vw;
    display: none;
}

.welcome{
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-color: rgb(255, 242, 225);
   
}



.mainlogo{
    margin-top: 20vh;
    animation: fadeIn 1.5s ease;
}

.largetext1{
    font-size: 45px;
    text-transform: uppercase;
    font-weight:500;
    animation: fadeIn 1.5s ease;
    transition: 2s;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.largetext2{
    font-size: 30px;
    margin-top: 1vh;
    animation: fadeIn 6s ease;
    color:rgb(71, 71, 71)
}

.godown{
    margin-top: 20vh;
}

#arrow{
    animation: fadeIn 8s ease;
}

@media only screen and (max-width: 1366px){
    .largetext1{
       font-size: 32px; 
    }
    .largetext2{
        font-size: 25px;
    }

}

.contentbody{
    width: 100vw;
}

.row{
    text-align: center;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.col{
    width: 30%;
    text-align: center;
}

.rbtn{
    background-color: rgb(255, 225, 187);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 2px solid rgb(255, 225, 187);
    transition: 1s;
}

.rbtn:hover{
    background-color: rgb(255, 195, 116);
    border: 2px solid rgb(255, 171, 61);
    transition: 0.5s;
    cursor: pointer;
}